target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/livros/florestadadestruicao/audio/historia_inicial.wav
/livros/florestadadestruicao/audio/secao_1.wav
/livros/florestadadestruicao/audio/secao_2.wav
/livros/florestadadestruicao/audio/secao_3.wav
/livros/florestadadestruicao/audio/secao_4.wav
/livros/florestadadestruicao/audio/secao_5.wav
/livros/florestadadestruicao/audio/secao_6.wav
/livros/florestadadestruicao/audio/secao_7.wav
/livros/florestadadestruicao/audio/secao_8.wav
/livros/florestadadestruicao/audio/secao_9.wav
/livros/florestadadestruicao/audio/secao_10.wav
/livros/florestadadestruicao/audio/secao_11.wav
/livros/florestadadestruicao/audio/secao_12.wav
/livros/florestadadestruicao/audio/secao_13.wav
/livros/florestadadestruicao/audio/secao_14.wav
/livros/florestadadestruicao/audio/secao_15.wav
/livros/florestadadestruicao/audio/secao_16.wav
/livros/florestadadestruicao/audio/secao_17.wav
/livros/florestadadestruicao/audio/secao_18.wav
/livros/florestadadestruicao/audio/secao_19.wav
/livros/florestadadestruicao/audio/secao_20.wav
/livros/florestadadestruicao/audio/secao_21_voz_masculina.wav
/livros/florestadadestruicao/audio/secao_22.wav
/livros/florestadadestruicao/audio/secao_23.wav
/livros/florestadadestruicao/audio/secao_24.wav
/livros/florestadadestruicao/audio/secao_25.wav
/livros/florestadadestruicao/audio/secao_26.wav
/livros/florestadadestruicao/audio/secao_27.wav
/livros/florestadadestruicao/audio/secao_28.wav
/livros/florestadadestruicao/audio/secao_29.wav
/livros/florestadadestruicao/audio/secao_30.wav
/livros/florestadadestruicao/audio/secao_31.wav
/livros/florestadadestruicao/audio/secao_32.wav
/livros/florestadadestruicao/audio/secao_33.wav
/livros/florestadadestruicao/audio/secao_34.wav
/livros/florestadadestruicao/audio/secao_35.wav
/livros/florestadadestruicao/audio/secao_36.wav
/livros/florestadadestruicao/audio/secao_37.wav
/livros/florestadadestruicao/audio/secao_38.wav
/livros/florestadadestruicao/audio/secao_39.wav
/livros/florestadadestruicao/audio/secao_40.wav
/livros/florestadadestruicao/audio/secao_41.wav
/livros/florestadadestruicao/audio/secao_42.wav
/livros/florestadadestruicao/audio/secao_43.wav
/livros/florestadadestruicao/audio/secao_44.wav
/livros/florestadadestruicao/audio/secao_45.wav
/livros/florestadadestruicao/audio/secao_46.wav
/livros/florestadadestruicao/audio/secao_47.wav
/livros/florestadadestruicao/audio/secao_48.wav
/livros/florestadadestruicao/audio/secao_49.wav
/livros/florestadadestruicao/audio/secao_50.wav
/livros/florestadadestruicao/audio/secao_51.wav
/livros/florestadadestruicao/audio/secao_52.wav
/livros/florestadadestruicao/audio/secao_53.wav
/livros/florestadadestruicao/audio/secao_54.wav
/livros/florestadadestruicao/audio/secao_55.wav
/livros/florestadadestruicao/audio/secao_56.wav
/livros/florestadadestruicao/audio/secao_57.wav
/livros/florestadadestruicao/audio/secao_58.wav
/livros/florestadadestruicao/audio/secao_59.wav
/livros/florestadadestruicao/audio/secao_60.wav
/livros/florestadadestruicao/audio/secao_61.wav
/livros/florestadadestruicao/audio/secao_62.wav
/livros/florestadadestruicao/audio/secao_63.wav
/livros/florestadadestruicao/audio/secao_64.wav
/livros/florestadadestruicao/audio/secao_65.wav
/livros/florestadadestruicao/audio/secao_66.wav
/livros/florestadadestruicao/audio/secao_67.wav
/livros/florestadadestruicao/audio/secao_68.wav
/livros/florestadadestruicao/audio/secao_69.wav
/livros/florestadadestruicao/audio/secao_70.wav
/livros/florestadadestruicao/audio/secao_71.wav
/livros/florestadadestruicao/audio/secao_72.wav
/livros/florestadadestruicao/audio/secao_73.wav
/livros/florestadadestruicao/audio/secao_74.wav
/livros/florestadadestruicao/audio/secao_75.wav
/livros/florestadadestruicao/audio/secao_76.wav
/livros/florestadadestruicao/audio/secao_77.wav
/livros/florestadadestruicao/audio/secao_78.wav
/livros/florestadadestruicao/audio/secao_79.wav
/livros/florestadadestruicao/audio/secao_80.wav
/livros/florestadadestruicao/audio/secao_81.wav
/livros/florestadadestruicao/audio/secao_82.wav
/livros/florestadadestruicao/audio/secao_83.wav
/livros/florestadadestruicao/audio/secao_84.wav
/livros/florestadadestruicao/audio/secao_85.wav
/livros/florestadadestruicao/audio/secao_86.wav
/livros/florestadadestruicao/audio/secao_87.wav
/livros/florestadadestruicao/audio/secao_88.wav
/livros/florestadadestruicao/audio/secao_89.wav
/livros/florestadadestruicao/audio/secao_90.wav
/livros/florestadadestruicao/audio/secao_91.wav
/livros/florestadadestruicao/audio/secao_92.wav
/livros/florestadadestruicao/audio/secao_93.wav
/livros/florestadadestruicao/audio/secao_94.wav
/livros/florestadadestruicao/audio/secao_95.wav
/livros/florestadadestruicao/audio/secao_96.wav
/livros/florestadadestruicao/audio/secao_97.wav
/livros/florestadadestruicao/audio/secao_98.wav
/livros/florestadadestruicao/audio/secao_99.wav
/livros/florestadadestruicao/audio/secao_100.wav
/livros/florestadadestruicao/audio/secao_101.wav
/livros/florestadadestruicao/audio/secao_102.wav
/livros/florestadadestruicao/audio/secao_103.wav
/livros/florestadadestruicao/audio/secao_104.wav
/livros/florestadadestruicao/audio/secao_105.wav
/livros/florestadadestruicao/audio/secao_106.wav
/livros/florestadadestruicao/audio/secao_107.wav
/livros/florestadadestruicao/audio/secao_108.wav
/livros/florestadadestruicao/audio/secao_109.wav
/livros/florestadadestruicao/audio/secao_110.wav
/livros/florestadadestruicao/audio/secao_111.wav
/livros/florestadadestruicao/audio/secao_112.wav
/livros/florestadadestruicao/audio/secao_113.wav
/livros/florestadadestruicao/audio/secao_114.wav
/livros/florestadadestruicao/audio/secao_115.wav
/livros/florestadadestruicao/audio/secao_116.wav
/livros/florestadadestruicao/audio/secao_117.wav
/livros/florestadadestruicao/audio/secao_118.wav
/livros/florestadadestruicao/audio/secao_119.wav
/livros/florestadadestruicao/audio/secao_120.wav
/livros/florestadadestruicao/audio/secao_121.wav
/livros/florestadadestruicao/audio/secao_122.wav
/livros/florestadadestruicao/audio/secao_123.wav
/livros/florestadadestruicao/audio/secao_124.wav
/livros/florestadadestruicao/audio/secao_125.wav
/livros/florestadadestruicao/audio/secao_126.wav
/livros/florestadadestruicao/audio/secao_127.wav
/livros/florestadadestruicao/audio/secao_128.wav
/livros/florestadadestruicao/audio/secao_129.wav
/livros/florestadadestruicao/audio/secao_130.wav
/livros/florestadadestruicao/audio/secao_131.wav
/livros/florestadadestruicao/audio/secao_132.wav
/livros/florestadadestruicao/audio/secao_133.wav
/livros/florestadadestruicao/audio/secao_134.wav
/livros/florestadadestruicao/audio/secao_135.wav
/livros/florestadadestruicao/audio/secao_136.wav
/livros/florestadadestruicao/audio/secao_137.wav
/livros/florestadadestruicao/audio/secao_138.wav
/livros/florestadadestruicao/audio/secao_139.wav
/livros/florestadadestruicao/audio/secao_140.wav
/livros/florestadadestruicao/audio/secao_141.wav
/livros/florestadadestruicao/audio/secao_142.wav
/livros/florestadadestruicao/audio/secao_143.wav
/livros/florestadadestruicao/audio/secao_144.wav
/livros/florestadadestruicao/audio/secao_145.wav
/livros/florestadadestruicao/audio/secao_146.wav
/livros/florestadadestruicao/audio/secao_147.wav
/livros/florestadadestruicao/audio/secao_148.wav
/livros/florestadadestruicao/audio/secao_149.wav
/livros/florestadadestruicao/audio/secao_150.wav
/livros/florestadadestruicao/audio/secao_151.wav
/livros/florestadadestruicao/audio/secao_152.wav
/livros/florestadadestruicao/audio/secao_153.wav
/livros/florestadadestruicao/audio/secao_154.wav
/livros/florestadadestruicao/audio/secao_155.wav
/livros/florestadadestruicao/audio/secao_156.wav
/livros/florestadadestruicao/audio/secao_157.wav
/livros/florestadadestruicao/audio/secao_158.wav
/livros/florestadadestruicao/audio/secao_159.wav
/livros/florestadadestruicao/audio/secao_160.wav
/livros/florestadadestruicao/audio/secao_161.wav
/livros/florestadadestruicao/audio/secao_162.wav
/livros/florestadadestruicao/audio/secao_163.wav
/livros/florestadadestruicao/audio/secao_164.wav
/livros/florestadadestruicao/audio/secao_165.wav
/livros/florestadadestruicao/audio/secao_166.wav
/livros/florestadadestruicao/audio/secao_167.wav
/livros/florestadadestruicao/audio/secao_168.wav
/livros/florestadadestruicao/audio/secao_169.wav
/livros/florestadadestruicao/audio/secao_170.wav
/livros/florestadadestruicao/audio/secao_171.wav
/livros/florestadadestruicao/audio/secao_172.wav
/livros/florestadadestruicao/audio/secao_173.wav
/livros/florestadadestruicao/audio/secao_174.wav
/livros/florestadadestruicao/audio/secao_175.wav
/livros/florestadadestruicao/audio/secao_176.wav
/livros/florestadadestruicao/audio/secao_177.wav
/livros/florestadadestruicao/audio/secao_178.wav
/livros/florestadadestruicao/audio/secao_179.wav
/livros/florestadadestruicao/audio/secao_180.wav
/livros/florestadadestruicao/audio/secao_181.wav
/livros/florestadadestruicao/audio/secao_182.wav
/livros/florestadadestruicao/audio/secao_183.wav
/livros/florestadadestruicao/audio/secao_184.wav
/livros/florestadadestruicao/audio/secao_185.wav
/livros/florestadadestruicao/audio/secao_186.wav
/livros/florestadadestruicao/audio/secao_187.wav
/livros/florestadadestruicao/audio/secao_188.wav
/livros/florestadadestruicao/audio/secao_189.wav
/livros/florestadadestruicao/audio/secao_190.wav
/livros/florestadadestruicao/audio/secao_191.wav
/livros/florestadadestruicao/audio/secao_192.wav
/livros/florestadadestruicao/audio/secao_193.wav
/livros/florestadadestruicao/audio/secao_194.wav
/livros/florestadadestruicao/audio/secao_195.wav
/livros/florestadadestruicao/audio/secao_196.wav
/livros/florestadadestruicao/audio/secao_197.wav
/livros/florestadadestruicao/audio/secao_198.wav
/livros/florestadadestruicao/audio/secao_199.wav
/livros/florestadadestruicao/audio/secao_200.wav
/livros/florestadadestruicao/audio/secao_201.wav
/livros/florestadadestruicao/audio/secao_202.wav
/livros/florestadadestruicao/audio/secao_203.wav
/livros/florestadadestruicao/audio/secao_204.wav
/livros/florestadadestruicao/audio/secao_205.wav
/livros/florestadadestruicao/audio/secao_206.wav
/livros/florestadadestruicao/audio/secao_207.wav
/livros/florestadadestruicao/audio/secao_208.wav
/livros/florestadadestruicao/audio/secao_209.wav
/livros/florestadadestruicao/audio/secao_210.wav
/livros/florestadadestruicao/audio/secao_211.wav
/livros/florestadadestruicao/audio/secao_212.wav
/livros/florestadadestruicao/audio/secao_213.wav
/livros/florestadadestruicao/audio/secao_214.wav
/livros/florestadadestruicao/audio/secao_215.wav
/livros/florestadadestruicao/audio/secao_216.wav
/livros/florestadadestruicao/audio/secao_217.wav
/livros/florestadadestruicao/audio/secao_218.wav
/livros/florestadadestruicao/audio/secao_219.wav
/livros/florestadadestruicao/audio/secao_220.wav
/livros/florestadadestruicao/audio/secao_221.wav
/livros/florestadadestruicao/audio/secao_222.wav
/livros/florestadadestruicao/audio/secao_223.wav
/livros/florestadadestruicao/audio/secao_224.wav
/livros/florestadadestruicao/audio/secao_225.wav
/livros/florestadadestruicao/audio/secao_226.wav
/livros/florestadadestruicao/audio/secao_227.wav
/livros/florestadadestruicao/audio/secao_228.wav
/livros/florestadadestruicao/audio/secao_229.wav
/livros/florestadadestruicao/audio/secao_230.wav
/livros/florestadadestruicao/audio/secao_231.wav
/livros/florestadadestruicao/audio/secao_232.wav
/livros/florestadadestruicao/audio/secao_233.wav
/livros/florestadadestruicao/audio/secao_234.wav
/livros/florestadadestruicao/audio/secao_235.wav
/livros/florestadadestruicao/audio/secao_236.wav
/livros/florestadadestruicao/audio/secao_237.wav
/livros/florestadadestruicao/audio/secao_238.wav
/livros/florestadadestruicao/audio/secao_239.wav
/livros/florestadadestruicao/audio/secao_240.wav
/livros/florestadadestruicao/audio/secao_241.wav
/livros/florestadadestruicao/audio/secao_242.wav
/livros/florestadadestruicao/audio/secao_243.wav
/livros/florestadadestruicao/audio/secao_244.wav
/livros/florestadadestruicao/audio/secao_245.wav
/livros/florestadadestruicao/audio/secao_246.wav
/livros/florestadadestruicao/audio/secao_247.wav
/livros/florestadadestruicao/audio/secao_248.wav
/livros/florestadadestruicao/audio/secao_249.wav
/livros/florestadadestruicao/audio/secao_250.wav
/livros/florestadadestruicao/audio/secao_251.wav
/livros/florestadadestruicao/audio/secao_252.wav
/livros/florestadadestruicao/audio/secao_253.wav
/livros/florestadadestruicao/audio/secao_254.wav
/livros/florestadadestruicao/audio/secao_255.wav
/livros/florestadadestruicao/audio/secao_256.wav
/livros/florestadadestruicao/audio/secao_257.wav
/livros/florestadadestruicao/audio/secao_258.wav
/livros/florestadadestruicao/audio/secao_259.wav
/livros/florestadadestruicao/audio/secao_260.wav
/livros/florestadadestruicao/audio/secao_261.wav
/livros/florestadadestruicao/audio/secao_262.wav
/livros/florestadadestruicao/audio/secao_263.wav
/livros/florestadadestruicao/audio/secao_264.wav
/livros/florestadadestruicao/audio/secao_265.wav
/livros/florestadadestruicao/audio/secao_266.wav
/livros/florestadadestruicao/audio/secao_267.wav
/livros/florestadadestruicao/audio/secao_268.wav
/livros/florestadadestruicao/audio/secao_269.wav
/livros/florestadadestruicao/audio/secao_270.wav
/livros/florestadadestruicao/audio/secao_271.wav
/livros/florestadadestruicao/audio/secao_272.wav
/livros/florestadadestruicao/audio/secao_273.wav
/livros/florestadadestruicao/audio/secao_274.wav
/livros/florestadadestruicao/audio/secao_275.wav
/livros/florestadadestruicao/audio/secao_276.wav
/livros/florestadadestruicao/audio/secao_277.wav
/livros/florestadadestruicao/audio/secao_278.wav
/livros/florestadadestruicao/audio/secao_279.wav
/livros/florestadadestruicao/audio/secao_280.wav
/livros/florestadadestruicao/audio/secao_281.wav
/livros/florestadadestruicao/audio/secao_282.wav
/livros/florestadadestruicao/audio/secao_283.wav
/livros/florestadadestruicao/audio/secao_284.wav
/livros/florestadadestruicao/audio/secao_285.wav
/livros/florestadadestruicao/audio/secao_286.wav
/livros/florestadadestruicao/audio/secao_287.wav
/livros/florestadadestruicao/audio/secao_288.wav
/livros/florestadadestruicao/audio/secao_289.wav
/livros/florestadadestruicao/audio/secao_290.wav
/livros/florestadadestruicao/audio/secao_291.wav
/livros/florestadadestruicao/audio/secao_292.wav
/livros/florestadadestruicao/audio/secao_293.wav
/livros/florestadadestruicao/audio/secao_294.wav
/livros/florestadadestruicao/audio/secao_295.wav
/livros/florestadadestruicao/audio/secao_296.wav
/livros/florestadadestruicao/audio/secao_297.wav
/livros/florestadadestruicao/audio/secao_298.wav
/livros/florestadadestruicao/audio/secao_299.wav
/livros/florestadadestruicao/audio/secao_300.wav
/livros/florestadadestruicao/audio/secao_301.wav
/livros/florestadadestruicao/audio/secao_302.wav
/livros/florestadadestruicao/audio/secao_303.wav
/livros/florestadadestruicao/audio/secao_304.wav
/livros/florestadadestruicao/audio/secao_305.wav
/livros/florestadadestruicao/audio/secao_306.wav
/livros/florestadadestruicao/audio/secao_307.wav
/livros/florestadadestruicao/audio/secao_308.wav
/livros/florestadadestruicao/audio/secao_309.wav
/livros/florestadadestruicao/audio/secao_310.wav
/livros/florestadadestruicao/audio/secao_311.wav
/livros/florestadadestruicao/audio/secao_312.wav
/livros/florestadadestruicao/audio/secao_313.wav
/livros/florestadadestruicao/audio/secao_314.wav
/livros/florestadadestruicao/audio/secao_315.wav
/livros/florestadadestruicao/audio/secao_316.wav
/livros/florestadadestruicao/audio/secao_317.wav
/livros/florestadadestruicao/audio/secao_318.wav
/livros/florestadadestruicao/audio/secao_319.wav
/livros/florestadadestruicao/audio/secao_320.wav
/livros/florestadadestruicao/audio/secao_321.wav
/livros/florestadadestruicao/audio/secao_322.wav
/livros/florestadadestruicao/audio/secao_323.wav
/livros/florestadadestruicao/audio/secao_324.wav
/livros/florestadadestruicao/audio/secao_325.wav
/livros/florestadadestruicao/audio/secao_326.wav
/livros/florestadadestruicao/audio/secao_327.wav
/livros/florestadadestruicao/audio/secao_328.wav
/livros/florestadadestruicao/audio/secao_329.wav
/livros/florestadadestruicao/audio/secao_330.wav
/livros/florestadadestruicao/audio/secao_331.wav
/livros/florestadadestruicao/audio/secao_332.wav
/livros/florestadadestruicao/audio/secao_333.wav
/livros/florestadadestruicao/audio/secao_334.wav
/livros/florestadadestruicao/audio/secao_335.wav
/livros/florestadadestruicao/audio/secao_336.wav
/livros/florestadadestruicao/audio/secao_337.wav
/livros/florestadadestruicao/audio/secao_338.wav
/livros/florestadadestruicao/audio/secao_339.wav
/livros/florestadadestruicao/audio/secao_340.wav
/livros/florestadadestruicao/audio/secao_341.wav
/livros/florestadadestruicao/audio/secao_342.wav
/livros/florestadadestruicao/audio/secao_343.wav
/livros/florestadadestruicao/audio/secao_344.wav
/livros/florestadadestruicao/audio/secao_345.wav
/livros/florestadadestruicao/audio/secao_346.wav
/livros/florestadadestruicao/audio/secao_347.wav
/livros/florestadadestruicao/audio/secao_348.wav
/livros/florestadadestruicao/audio/secao_349.wav
/livros/florestadadestruicao/audio/secao_350.wav
/livros/florestadadestruicao/audio/secao_351.wav
/livros/florestadadestruicao/audio/secao_352.wav
/livros/florestadadestruicao/audio/secao_353.wav
/livros/florestadadestruicao/audio/secao_354.wav
/livros/florestadadestruicao/audio/secao_355.wav
/livros/florestadadestruicao/audio/secao_356.wav
/livros/florestadadestruicao/audio/secao_357.wav
/livros/florestadadestruicao/audio/secao_358.wav
/livros/florestadadestruicao/audio/secao_359.wav
/livros/florestadadestruicao/audio/secao_360.wav
/livros/florestadadestruicao/audio/secao_361.wav
/livros/florestadadestruicao/audio/secao_362.wav
/livros/florestadadestruicao/audio/secao_363.wav
/livros/florestadadestruicao/audio/secao_364.wav
/livros/florestadadestruicao/audio/secao_365.wav
/livros/florestadadestruicao/audio/secao_366.wav
/livros/florestadadestruicao/audio/secao_367.wav
/livros/florestadadestruicao/audio/secao_368.wav
/livros/florestadadestruicao/audio/secao_369.wav
/livros/florestadadestruicao/audio/secao_370.wav
/livros/florestadadestruicao/audio/secao_371.wav
/livros/florestadadestruicao/audio/secao_372.wav
/livros/florestadadestruicao/audio/secao_373.wav
/livros/florestadadestruicao/audio/secao_374.wav
/livros/florestadadestruicao/audio/secao_375.wav
/livros/florestadadestruicao/audio/secao_376.wav
/livros/florestadadestruicao/audio/secao_377.wav
/livros/florestadadestruicao/audio/secao_378.wav
/livros/florestadadestruicao/audio/secao_379.wav
/livros/florestadadestruicao/audio/secao_380.wav
/livros/florestadadestruicao/audio/secao_381.wav
/livros/florestadadestruicao/audio/secao_382.wav
/livros/florestadadestruicao/audio/secao_383.wav
/livros/florestadadestruicao/audio/secao_384.wav
/livros/florestadadestruicao/audio/secao_385.wav
/livros/florestadadestruicao/audio/secao_386.wav
/livros/florestadadestruicao/audio/secao_387.wav
/livros/florestadadestruicao/audio/secao_389.wav
/livros/florestadadestruicao/audio/secao_390.wav
/livros/florestadadestruicao/audio/secao_391.wav
/livros/florestadadestruicao/audio/secao_392.wav
/livros/florestadadestruicao/audio/secao_393.wav
/livros/florestadadestruicao/audio/secao_394.wav
/livros/florestadadestruicao/audio/secao_395.wav
/livros/florestadadestruicao/audio/secao_396.wav
/livros/florestadadestruicao/audio/secao_397.wav
/livros/florestadadestruicao/audio/secao_398.wav
/livros/florestadadestruicao/audio/secao_399.wav
/livros/florestadadestruicao/audio/secao_400.wav
